* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    display: flex;
   
}

.sidebar {
    width: 20%;
    background-color: #007BFF;
    color: white;
    padding-top: 20px;
    flex-direction: column;
    min-height: 100vh;
    box-shadow: 7px 7px 7px gray;
    position:sticky;
    top:0;
    left:0;
    height:100vh;
    z-index:1;

    img {
        width: 150px;
        height: 150px;
        margin: 5px;
        margin-left: 50px;
        border-radius: 50%;
        padding: 5px;
        margin-top: 30px;
        margin-bottom: 20px;
    }
    
    ul {
        list-style-type: none;
        padding-left: 0;
    }

    ul li {
        padding: 20px;
        text-align: left;
        font-size: 24px;
        font-weight: 500;
    }

    ul li a {
        text-decoration: none;
        color: #fff;
        display: block;
    }

    ul li a:hover {
        background-color:white;
        transition: all 0.5s 0.2s ease;
        color:black;
    }
    

}

.img_container{

    width: 80%;
    display: flex;
    margin: 1%;
    flex-direction: column;
    gap:40px;
    background-color:#FFFFFF;
    padding-left: 10px;

    .create-class-form{
        
        
        display: flex;
        justify-content:center;
        margin-top: 2%;
        display: flex;
        gap:15px;
        flex-direction: column;
        box-shadow: 2px 2px 2px #FFFFFF;
        background-color: white;
        box-shadow: 5px 5px 5px rgb(177, 177, 177);

        h1{
            font-weight: 600;
            font-size: 25px;
            margin-left: 1%;
            margin-bottom: 2%;
        }

        input{
            padding-left:5%;
            width: 300px;
            height: 30px;
            font-size: 15px;
            font-weight: 500;
            text-indent: 6px;
            margin-left: 5%;
        }

        button{
            width: 300px;
            height: 30px;
            background-color:green;
            border: none;
            border-radius: 5px;
            color: white;
            font-size: 18px;
            font-weight: 500;
            box-shadow: 2px 2px 2px gray;
            padding: 3px; 
            margin-bottom: 5%;
            cursor: pointer;
            margin-top: 3%;
            margin-left: 5%;
        }

        button:hover{
            transform: scale(1.02);
        }

        label{
            font-size: 20px;
            font-weight: 700;
            color: gray;
            margin-left: 5%;
        }
          select{
            height: 27px;
            text-indent: 5px;
            border-radius: 3px;
            font-size: 15px;
            font-weight: 550;
            border-color: rgb(187, 184, 184);
            width: 300px;
            padding-left:5%;
            margin-left: 5%;
        }
    }

    .all-attendance-table{

        box-shadow: 5px 5px 5px rgb(177, 177, 177);

        h1{
            font-weight: 600;
            font-size: 25px;
            margin-bottom: 2%;
            margin-left: 1%;
        }

        .search-box form{
            margin-top:3%;
            margin-left:5%;
            display: flex;
            
            gap:10px;
            
            
    
            input{
                width: 300px;
                height: 30px;
                font-size: 15px;
                font-weight: 500;
                text-indent: 6px;
            
            }
            button{
                width: 100px;
                height: 30px;
                background-color:#007BFF;
                border: none;
                border-radius: 5px;
                color: white;
                font-size: 18px;
                box-shadow: 2px 2px 2px gray;
                padding: 3px;
                cursor: pointer;
            }
            button:hover{
                transform: scale(1.02);
            }
        }

        table{
            border-collapse: collapse;
            box-shadow: 5px 5px 5px rgb(177, 177, 177);
            margin-left: 5%;
            margin-top: 5%;
            margin-bottom: 5%;
            margin-right:5%;

            th {
                background-color: #007BFF;
                color: white;
                padding: 10px;
                text-align: center;
                font-weight: 400;
                position: sticky;
                top: 0;
                text-transform:capitalize;
            }
        
            td {
                text-align: center;
                padding: 10px;
                border: 1px solid #ddd;
            }
        
            tr:nth-child(even) {
                background-color: #f9f9f9;
            }
            .btn-edit{
                background-color: green;
                border: none;
                width: 70px;
                height: 35px;
                color: white;
                border-radius: 5px;
                box-shadow:1px 1px 1px gray ;
                font-weight: 700;
                font-size: 15px;
            }
            .btn-delete{
                background-color: red;
                border: none;
                width: 80px;
                height: 35px;
                color: white;
                border-radius: 5px;
                box-shadow:1px 1px 1px gray ;
                font-weight: 700;
                font-size: 15px;
        
            }
            .btn-attendance{
                background-color:#007BFF;
                border: none;
                width: 130px;
                height: 35px;
                color: white;
                border-radius: 5px;
                font-weight: 700;
                box-shadow:1px 1px 1px gray ;
                font-size: 15px;
            
            }
            button{
                cursor: pointer;
            }
            button:hover{
                transform: scale(1.02);
            }
        }
    }
}
